.sectionLandingContainer{
    height: 100%;
    width: 100%;
    color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url('./assets/backlaptop.jpg');
   background-color: white;
   background-size: cover;
}

.sectionLandingContent{
    height: 50%;
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 4rem;
    }
    p{
        font-size: 1.5rem;
    }
}
