.sectionFooterContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1c1c1c;

}
.sectionFooterContent{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-align: center;
    line-height: 0.5rem;
}   
